.gender__title-section{
    font-family: var(--quicksand);
    letter-spacing: 4px;
    font-weight: 800;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: var(--pure-white);
    margin-bottom: 1.5rem;
    
    display: flex;
    align-items: center;
    gap: .625rem;
}

.gender__container {
    height: 450px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: .625em;
}

.gender__container article {
    position: relative;
    background: var(--bg);
    background-size: cover;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;

    transition: filter 0.4s ease, transform 0.3s ease;
}

.gender__container:hover article {
    filter: grayscale(30%) brightness(0.4);
    opacity: 0.6;
    transition: all 0.4s cubic-bezier(0.25, 1, 0.5, 1);
}

.gender__container article:hover {
    filter: grayscale(0%) brightness(1);
    opacity: 1;
    transform: scale(1.015) translateY(-3px);
}

.gender__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    transition: filter 0.4s ease, transform 0.3s ease;
}

.gender__container .gender__mixto {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    background-position: center !important;
}

.gender__container .gender__new-colab {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;

    position: relative;
}

.gender__container .gender__new-colab .gender__overlay{
    position: absolute;
    z-index: 2;
}

.gender__banner-container{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: transform 0.6s cubic-bezier(0.25, 1, 0.5, 1);
    gap: 0;
}

.gender__new-colab img{
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    padding: 0;
    display: block;
}

.gender__container .gender__descuentos {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3; 
}

.gender__container .gender__hombre {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3; 

    background-position: center;
}

.gender__container .gender__surprise {
    position: relative;

    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 3;
    
    padding: 20px;
    box-sizing: border-box;
    background-color: var(--negro-cajas);

}

.gender__container .gender__mujer {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3; 
}


.gender__overlay{
    background: linear-gradient(to top , rgba(0,0,0,1) , rgba(0,0,0,.7) , transparent);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-sizing: border-box;
    gap: 10px;
    padding: 1.25em .9375em;
    color: var(--pure-white);
}

.gender__title{
    text-transform: uppercase;
    font-family: var(--outfit);
    font-weight: bold;
    font-size: 1.5625em;
}

.gender__p{
    letter-spacing: .125em;
}

/* DADO */

.dice{
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    grid-template-rows: repeat(3 , 1fr);
    place-items: center;
}

.gender__surprise::after{
    content: '';
    position: absolute;
    right: 0;
    top: 0;

    width: 50%;
    height: 70%;
    border-radius: 45%;

    filter: blur(1.8125em);

    background-color: rgba(139,92,246,.12);
}

.dice__face{
    background-color: var(--pure-white);
    width: 70%;
    height: 75%;
    opacity: .6;
    border-radius: 50%;
}

.dice__face{
    display: none;
}

.dice__face--uno {
    grid-area: 1 / 1; 
}

.dice__face--dos {
    grid-area: 1 / 3; 
}

.dice__face--tres {
    grid-area: 2 / 1; 
}

.dice__face--cuatro {
    grid-area: 2 / 2; 
}

.dice__face--cinco {
    grid-area: 2 / 3; 
}

.dice__face--seis {
    grid-area: 3 / 1; 
}

.dice__face--siete {
    grid-area: 3 / 3; 
}

.dice__cara-uno .dice__face--cuatro{
    display: block;
}

.dice__cara-dos .dice__face--uno,
.dice__cara-dos .dice__face--siete{
    display: block;
}

.dice__cara-tres .dice__face--uno,
.dice__cara-tres .dice__face--cuatro,
.dice__cara-tres .dice__face--siete{
    display: block;
}

.dice__cara-cuatro .dice__face--uno,
.dice__cara-cuatro .dice__face--dos,
.dice__cara-cuatro .dice__face--seis,
.dice__cara-cuatro .dice__face--siete{
    display: block;
}

.dice__cara-cinco .dice__face--uno,
.dice__cara-cinco .dice__face--dos,
.dice__cara-cinco .dice__face--cuatro,
.dice__cara-cinco .dice__face--seis,
.dice__cara-cinco .dice__face--siete{
    display: block;
}

.dice__cara-seis .dice__face--uno,
.dice__cara-seis .dice__face--dos,
.dice__cara-seis .dice__face--tres,
.dice__cara-seis .dice__face--cinco,
.dice__cara-seis .dice__face--seis,
.dice__cara-seis .dice__face--siete{
    display: block;
}